# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Unreal Engine 5
game/Binaries/
game/Build/
game/DerivedDataCache/
game/Intermediate/
game/Saved/
game/.vs/
game/*.sln
game/*.xcworkspace
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
